@use "../../../style/media-queries" as mq;

.aside {
  grid-area: aside;
  font-family: var(--font-mulish);
  background: var(--background);
  box-shadow: 1.5px 0px 10px 0px rgba(23, 29, 37, 0.18);
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  @include mq.sm {
    padding: 1.5rem 0;
  }
  @include mq.md {
    padding: 3rem 1.5rem;
  }
  .contact {
    grid-area: cont;
  }
  .education {
    grid-area: educ;
  }
  .informatique {
    grid-area: info;
  }
  .langues {
    grid-area: lang;
  }
  .lang {
    grid-area: hobb;
  }
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 25px;
    z-index: 1;
    @include mq.sm {
      display: grid;
      grid: "cont educ" auto "info lang" auto "info hobb" auto / 1fr 1fr;
      position: relative;
    }
  }
  .block {
    padding-bottom: 3rem;
    @include mq.sm {
      padding: 2rem;
    }
  }
  h2 {
    margin-bottom: 0.5rem;
    @include mq.md {
      font-size: 88%;
    }
  }
  h3 {
    margin-bottom: 0;
    font-size: 1.5rem;
    @include mq.md {
      font-size: 88%;
    }
  }
}
